<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>naju_wahl</title>
    <style type="text/css">
      body {
        display: flex;
        margin: 0;
        padding: 0;
        justify-content: center;
        margin-top: 60px;
      }
      #naju-wahlomat, #app {
        width: 500px;
        box-sizing: content-box;
        padding: 2rem;
        align-self: center;
        border: 1px dashed #ddd;
      }
    </style>
  </head>
  <body>
    <div id="naju-wahlomat"></div>
    <% if(process.env.NODE_ENV == "production") { %>
    <script type="text/javascript">
      document.wahlomatData = <%=
        // single source of truth
        JSON.stringify(require('./src/data.json'))
      %>
    </script>

    <script src="https://unpkg.com/vue@2.4.2/dist/vue.runtime.min.js" type="text/javascript"></script>
    <script src="https://unpkg.com/vuex@2.3.1/dist/vuex.min.js" type="text/javascript"></script>
    <% } %>
    <!-- built files will be auto injected -->
  </body>
</html>
