<template>
  <button v-on:click="click"><slot>Button</slot></button>
</template>

<script>
export default {
  name: 'btn',
  methods: {
    click () {
      this.$emit('click')
    }
  }
}
</script>

<!-- Add "scoped" attribute to limit CSS to this component only -->
<style scoped>
button {
  font-size: 1em;
  box-sizing: border-box;
  margin: 2rem .5rem;
  border: 1px solid;
  padding: .75rem 1.5rem;
  background: transparent;
  border-radius: 2.75rem;
  transition: all .25s ease;
  min-width: 6rem;

  border-color: #888;
  color: #888;
}
button:hover, button.active {
  background: #888;
  color: #fff!important;;
}
button:focus {
  outline: none;
}
.green {
  border-color: #137C30;
  color: #137C30;
}
.green:hover, .green.active {
  background: #137C30;
}
.red {
  border-color: #E31021;
  color: #E31021;
}
.red:hover, .red.active {
  background: #E31021;
}
.blue {
  border-color: #0D82B6;
  color: #0D82B6;
}
.blue:hover, .blue.active {
  background: #0D82B6;
}
.yellow {
  border-color: #E8E04E;
  color: #CCC546;
}
.yellow:hover, .yellow.active {
  background: #E8E04E;
}
.lavender {
  border-color: #675996;
  color: #675996;
}
.lavender:hover, .lavender.active {
  background: #7768A0;
  border-color: #7768A0;
}
</style>
