<template>
  <button @click="click"><slot>Button</slot></button>
</template>

<script>
export default {
  name: "btn",
  methods: {
    click() {
      this.$emit("click");
    }
  }
};
</script>

<!-- Add "scoped" attribute to limit CSS to this component only -->
<style scoped>
button {
  font-size: 1em;
  box-sizing: border-box;
  margin: 2rem 0.5rem;
  border: 1px solid;
  padding: 0.75rem 1.5rem;
  background: transparent;
  border-radius: 2.75rem;
  transition: all 0.25s ease;
  min-width: 6rem;

  border-color: #888;
  color: #888;
}
button:hover,
button.active {
  background: #888;
  color: #fff !important;
}
button:focus {
  outline: none;
}
.green {
  border-color: #137c30;
  color: #137c30;
}
.green:hover,
.green.active {
  background: #137c30;
}
.red {
  border-color: #e31021;
  color: #e31021;
}
.red:hover,
.red.active {
  background: #e31021;
}
.blue {
  border-color: #0d82b6;
  color: #0d82b6;
}
.blue:hover,
.blue.active {
  background: #0d82b6;
}
.yellow {
  border-color: #e8e04e;
  color: #ccc546;
}
.yellow:hover,
.yellow.active {
  background: #e8e04e;
}
.lavender {
  border-color: #675996;
  color: #675996;
}
.lavender:hover,
.lavender.active {
  background: #7768a0;
  border-color: #7768a0;
}
</style>
