<template>
  <div class="hello">
    <h1>Willkommen beim NAJU Wahl-o-Mat!</h1>
    <p>
      Hier wird Demokratie gelebt! Du willst wissen, welche Partei deiner
      Meinung am nächsten kommt? Dann fülle hier unseren Fragebogen aus.
    </p>
    <btn class="green" @click="go">Loslegen</btn>
  </div>
</template>

<script>
import Btn from "./Btn";

export default {
  name: "hello",
  components: {
    Btn
  },
  methods: {
    go() {
      console.log("clicked");
      this.$store.commit("goToPage", "questions");
    }
  }
};
</script>

<!-- Add "scoped" attribute to limit CSS to this component only -->
<style scoped>
.hello {
}
</style>
