<template>
  <div class="question">
    <h1>Frage {{ question + 1 }} von {{ questions.length }}</h1>
    <div class="question__body">
      <p>
        “{{ questions[question].short }}” in der Kategorie “{{
          questions[question].category
        }}”
      </p>
      <p>
        {{ questions[question].question }}
        <a target="_blank" :href="questions[question].link">(Infolink)</a>
      </p>
    </div>
    <div v-if="questions[question].type === 'binary'">
      <btn
        class="green"
        :class="{ active: isActive(1) }"
        @click="answer(question, 1)"
        >Ja</btn
      >
      <btn
        class="red"
        :class="{ active: isActive(0) }"
        @click="answer(question, 0)"
        >Nein</btn
      >
      <btn
        class="lavender"
        :class="{ active: isActive(-1) }"
        @click="answer(question, -1)"
        >Egal</btn
      >
    </div>
    <div v-if="questions[question].type === 'range'">
      <btn
        class="green"
        :class="{ active: isActive(2) }"
        @click="answer(question, 2)"
        >Höher</btn
      >
      <btn
        class="blue"
        :class="{ active: isActive(1) }"
        @click="answer(question, 1)"
        >Gleich</btn
      >
      <btn
        class="red"
        :class="{ active: isActive(0) }"
        @click="answer(question, 0)"
        >Kleiner</btn
      >
      <btn
        class="yellow"
        :class="{ active: isActive(-1) }"
        @click="answer(question, -1)"
        >Egal</btn
      >
    </div>
    <nav>
      <btn class="lavender" v-if="question > 0" @click="lastQuestion"
        >Letzte Frage</btn
      >
      <btn v-if="!finished" @click="backToHello">Zum Anfang</btn>
      <btn class="lavender" v-if="finished" @click="backToResult"
        >Zur Ergebnisseite</btn
      >
    </nav>
  </div>
</template>

<script>
import Btn from "./Btn";

export default {
  name: "questions",
  components: {
    Btn
  },
  data() {
    return { ...this.$store.state.data };
  },
  computed: {
    question() {
      return this.$store.state.question;
    },
    finished() {
      return this.$store.state.finished;
    }
  },
  methods: {
    answer(question, answer) {
      this.$store.dispatch("answerAndNext", { question, answer });
    },
    lastQuestion() {
      this.$store.dispatch("goToQuestion", this.question - 1);
    },
    backToHello() {
      this.$store.dispatch("goToPage", "hello");
    },
    backToResult() {
      this.$store.dispatch("goToPage", "result");
    },
    isActive(val) {
      return val === this.$store.state.answers[this.question];
    }
  }
};
</script>

<!-- Add "scoped" attribute to limit CSS to this component only -->
<style scoped>
.question {
}
.question__body {
  min-height: 16rem;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
nav {
  display: block !important;
}
</style>
