<template>
  <div v-if="!onlyNeutralAnswers" class="result">
    <h1>Deine Ergebnisse</h1>
    <p>Super, Du hast alle Fragen beantwortet!<br/>
    Hier ist Dein persönliches Ranking:</p>
    <ol>
      <li v-for="party in sortedParties">
        <span v-bind:style="{color: party.color}">&#9612;</span>
        <span>{{party.name}}</span>: <span>{{party.percent}}%</span>
      </li>
    </ol>
    <p v-if="statementsUrl">Dich interessieren die konreten Antworten der Parteien? Dann Schau doch auf der Seite mit ihren <a v-bind:href="statementsUrl">Stellungnahmen</a> vorbei!</p>
    <h2>Details</h2>
    <p>(Die Tabelle lässt sich scrollen.)</p>
    <div class="scrollpane">
      <table>
        <thead><tr>
          <th class="question-col">Frage</th>
          <th>Deine Antwort</th>
          <th v-for="party in sortedParties" v-bind:style="{color: party.color}">{{party.name}}</th>
        </tr></thead>
        <tbody>
          <tr v-for="(question, index) in questions" v-bind:key="index">
            <td class="question-col"><a href="#" v-on:click.prevent.stop="goToQuestion(index)">{{question.short}}</a></td>
            <td class="answer-col">
              {{answerToString(question.type, ownAnswers[index])}}
            </td>
            <td
              v-for="party in sortedParties"
              v-bind:class="['answer-col', answerToClass(question.type, party.answers[index], ownAnswers[index])]">
              {{answerToString(question.type, party.answers[index])}}
            </td>
          </tr>
        </tbody>
        <tfoot><tr>
          <td class="question-col">Antworten:</td>
          <td>{{ownAnswers.filter(e => e !== -1).length}}</td>
          <td v-for="party in sortedParties">{{party.percent}}%</td>
        </tr></tfoot>
      </table>
    </div>
    <div><btn v-on:click="goBack" class="blue">Zum Anfang</btn></div>
  </div>
  <div v-else class="result">
    <h1>Oh Nein!</h1>
    <p>Wir können dir leider kein Ergebnis anzeigen, da Du nur neutral geantwortet hast :(</p>
    <div><btn v-on:click="goBack" class="blue">Zum Anfang</btn></div>
  </div>
</template>

<script>
import Btn from './Btn'

export default {
  name: 'result',
  components: {
    Btn
  },
  data () { return { } },
  computed: {
    question () { return this.$store.state.question },
    ownAnswers () { return this.$store.state.answers },
    onlyNeutralAnswers () { return this.ownAnswers.filter(e => e !== -1).length === 0 },
    parties () { return this.$store.state.data.parties },
    questions () { return this.$store.state.data.questions },
    statementsUrl () { return this.$store.state.data.statements_url },
    sortedParties () {
      let computePercent = function (questions, ownAnswers, partyAnswers) {
        // count matching answers.
        // if it is a range, add .5 if the difference is only 1
        let matching = 0
        for (let i = 0; i < ownAnswers.length; i++) {
          // ignore neutral answers and unconsidered questions
          if (ownAnswers[i] !== -1 || partyAnswers[i] !== -1) {
            let type = questions[i].type
            if (type === 'binary') {
              matching += ownAnswers[i] === partyAnswers[i] ? 1 : 0
            } else if (type === 'range') {
              let diff = Math.max(ownAnswers[i], partyAnswers[i]) - Math.min(ownAnswers[i], partyAnswers[i])
              matching += diff === 0 ? 1 : diff === 1 ? 0.5 : 0
            }
          }
        }
        return (matching / ownAnswers.length * 100).toFixed(0)
      }

      return this.parties
        .map((e) => { return {...e, percent: computePercent(this.questions, this.ownAnswers, e.answers)} })
        .sort((a, b) => b.percent - a.percent)
    }
  },
  methods: {
    goBack () {
      this.$store.dispatch('goToPage', 'hello')
    },
    goToQuestion (questionIndex, event) {
      this.$store.dispatch('goToQuestion', questionIndex)
    },
    answer (question, answer) {
      this.$store.dispatch('answerAndNext', { question, answer })
    },
    answerToString (type, subjectAnswer) {
      console.log('type: ' + type + ', answer: ' + subjectAnswer)
      if (subjectAnswer === -1)
        return 'kA'

      const binary = ['Nein', 'Ja']
      const range = ['Niedriger', 'Gleich', 'Höher']

      return type === 'binary' ? binary[subjectAnswer]
           : type === 'range' ? range[subjectAnswer]
           : 'noop'
    },
    answerToClass (type, subjectAnswer, objectAnswer) {
      if (subjectAnswer === -1 || objectAnswer === -1)
        return 'lavender'

      // display via color if the answers match
      if (type === 'binary') {
        return subjectAnswer === objectAnswer ? 'green' : 'red'
      } else if (type === 'range') {
        let diff = Math.max(subjectAnswer, objectAnswer) - Math.min(subjectAnswer, objectAnswer)
        return diff === 0 ? 'green' : diff === 1 ? 'yellow' : 'red'
      }

      return ''
    }
  }
}
</script>

<!-- Add "scoped" attribute to limit CSS to this component only -->
<style scoped>
.result {
  display: flex;
  align-items: center;
  flex-direction: column;
}
ol, li {
  text-align: left;
}
li {
  margin-top: .5rem;
  padding-left: 1rem;
}
.scrollpane {
  overflow-x: scroll;
  width: 100%;
}
table {
  border-spacing: 0;
}
tr {
  transition: all .15s ease;
}
tr:hover {
  background: #f6f6f6;
}
thead tr:hover {
  background: transparent;
}
th, td {
  border-bottom: 1px solid #888;
  margin: 0;
  height: 2rem;
  padding: .75rem .25rem;

}
tfoot td {
  border-bottom: none;
  font-weight: bold;
}
.question-col {
  text-align: left;
  display: sticky;
}
.answer-col {
  width: 4rem;
}
.answer-col:nth-child(2n + 1) {
  background: #f6f6f6;
}
.green { color: #137C30; }
.red { color: #E31021; }
.blue { color: #0D82B6; }
.yellow { color: #E8E04E; }
.lavender { color: #675996; }

</style>
