<template>
  <div id="naju-wahlomat">
    <!-- <img src="./assets/logo-white-bg.svg" width="250"> -->
    <hello v-if="page=='hello'"></hello>
    <questions v-if="page=='questions'"></questions>
    <result v-if="page=='result'"></result>
  </div>
</template>

<script>
import Hello from './components/Hello'
import Questions from './components/Questions'
import Result from './components/Result'

export default {
  name: 'naju-wahlomat',
  components: {
    Hello,
    Questions,
    Result
  },
  data () {
    return {
      // page: 'hello'
    }
  },
  computed: {
    page () { return this.$store.state.page }
  }
}
</script>

<style>
#naju-wahlomat {
  font-family: 'Source Sans Pro', Helvetica, Arial, sans-serif !important;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-align: center;
  min-height: 40rem;
  color: #222!important;
  font-size: 16px;
  overflow: auto;
}
#naju-wahlomat p {
  margin: 1rem 0!important;
  font-size: 16px!important;
}
#naju-wahlomat h1, #naju-wahlomat h2 {
  margin: 2rem 0 1rem!important;
  font-weight: normal;
}
#naju-wahlomat h2 {
  color: #222!important;
}
#naju-wahlomat a, #naju-wahlomat a:link, #naju-wahlomat a:visited {
  transition: all .15s ease;
  text-decoration-color: transparent;
  color: #0D82B6;
}
#naju-wahlomat a:hover { text-decoration-color: #0D82B6; }
</style>
